<!-- eslint-disable vue/max-attributes-per-line -->
<!-- eslint-disable max-len-->
<template>
  <f7-page>
    <f7-navbar :title="this.$store.getters.place.name" back-link="Back" sliding/>
    <f7-block-title v-if="this.$store.state.isLoading" style="text-align:center" key="spinner"><span style="width:42px; height:42px" class="preloader"/></f7-block-title>
    <div v-else key="menu-item">
      Heeyyy, some gory details here!
    </div>

    <f7-block inner>
      <ul>
        <li><b>Url:</b> {{ $route.url }}</li>
        <li><b>Path:</b> {{ $route.path }}</li>
        <li><b>Hash:</b> {{ $route.hash }}</li>
        <li><b>Params:</b>
          <ul>
            <li v-for="(value, key) in $route.params" :key="key"><b>{{ key }}:</b> {{ value }}</li>
          </ul>
        </li>
        <li><b>Query:</b>
          <ul>
            <li v-for="(value, key) in $route.query" :key="key"><b>{{ key }}:</b> {{ value }}</li>
          </ul>
        </li>
        <li><b>Route:</b> {{ $route.route.path }}</li>
      </ul>
    </f7-block>
    <f7-block inner>
      <f7-link @click="$route.view.router.back()">Go back via Router API</f7-link>
    </f7-block>


  </f7-page>
</template>

<script>
import Debug from 'debug-levels';
import util from 'util';

const d = Debug('menuItem.vue');

export default {
  // Hook code when mounted
  mounted() {
    // `this` is the APP instance
    this.$store.commit('setIsLoading', true);
    const url = util.format('/place/%s/', this.$store.state.placeId);
    d.debug('$route.path is %s, now requesting %s', this.$route.path, url);
    this.$http.get(url).then(
      function reponseCB(r) {
        // Store obtained response
        d.debug('Received from %s the response: %o', url, r.body);
        this.$store.commit('setMenu', r.body.menu);
        // $$('.swiper-container')[0].swiper.update();
        this.$store.commit('setIsLoading', false);
      },
      function errorCB(r) {
        d.error('Received from %s error %o.', url, r.body);
        this.$store.commit('setIsLoading', false);
      },
    );
    d.debug('Mounted: this is %o', this);
  },
};
</script>
