<!-- eslint-disable vue/max-attributes-per-line -->
<!-- eslint-disable max-len-->
<template>
  <f7-page>
    <f7-navbar :title="this.$store.getters.place.name" back-link="Back" sliding class="text-color-red"/>
    <f7-block-title v-if="this.$store.state.isLoading" style="text-align:center" key="spinner"><span style="width:42px; height:42px" class="preloader"/></f7-block-title>
    <div v-else key="menu-swipe">
      <f7-swiper key="menu-swipe" pagination :params="{ autoHeight: true, loop: true, navigation: { nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev'}, pagination: { clickable: true, dynamicBullets: true}, preventClicks: true, spaceBetween: 20 }">
        <f7-swiper-slide v-for="(category, index) in this.$store.state.menu" :key="category.title">
          <f7-block-title style="text-align: center;">
            <span v-if="index > 0" class="swipe-indicator"><icon name="angle-left" class="button-prev"/></span>
            {{ category.title }}
            <span v-if="index < $store.state.menu.length - 1" class="swipe-indicator"><icon name="angle-right" class="button-next"/></span>
          </f7-block-title>
          <f7-list media-list>
            <f7-list-item
              v-for="item in category.items"
              :key="item.id"
              :link="$route.path + '/menuItem/' + item.id"
              :title="item.title"
              :media="'<img src=\'./static/' + item.cover + '\' style=\'height:100px;width: 100px;\'>'"
              :text="item.desc"/>
          </f7-list>
        </f7-swiper-slide>
      </f7-swiper>
    </div>
    <f7-block inner>
      <ul>
        <li><b>Url:</b> {{ $route.url }}</li>
        <li><b>Path:</b> {{ $route.path }}</li>
        <li><b>Hash:</b> {{ $route.hash }}</li>
        <li><b>Params:</b>
          <ul>
            <li v-for="(value, key) in $route.params" :key="key"><b>{{ key }}:</b> {{ value }}</li>
          </ul>
        </li>
        <li><b>Query:</b>
          <ul>
            <li v-for="(value, key) in $route.query" :key="key"><b>{{ key }}:</b> {{ value }}</li>
          </ul>
        </li>
        <li><b>Route:</b> {{ $route.route.path }}</li>
      </ul>
    </f7-block>
    <f7-block inner>
      <f7-link @click="$route.view.router.back()">Go back via Router API</f7-link>
    </f7-block>

  </f7-page>
</template>

<script>
import util from 'util';
import Debug from 'debug-levels';

const d = Debug('place.vue');

export default {
  // Hook code when mounted
  mounted() {
    // `this` is the APP instance
    this.$store.commit('setIsLoading', true);
    const url = util.format('/place/%s/', this.$store.state.placeId);
    d.debug('$route.path is %s, now requesting %s', this.$route.path, url);
    this.$http.get(url).then(
      function responseCB(r) {
        // Store obtained response
        d.debug('Received from %s the response %o', url, r.body);
        this.$store.commit('setMenu', r.body.menu);
        // $$('.swiper-container')[0].swiper.update();
        this.$store.commit('setIsLoading', false);
      },
      function errorCB(r) {
        d.error('Received from %s error %s', url, r.body);
        this.$store.commit('setIsLoading', false);
      },
    );
    d.debug('Mounted: "this" is: %o', this);
  },
};
</script>
