<div class="page" data-page="restaurants">
  <div class="page-content">
    <a href="index.html" class="back"> Go back to home page </a>
    <div class="content-block-title">Restaurants</div>
    <div class="list-block">
      <ul>
        {{#each this}}
        <li>
          <!-- As a context name for this link we pass context path from template7Data root -->
          <a href="#" class="item-link item-content" data-context-name="{{@index}}">
            <div class="item-inner">
              <div class="item-title">Restaurant "{{this.name}}", email: "{{address}}"</div>
            </div>
          </a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
