<template>
  <f7-view>
    <f7-page>
      <f7-navbar>
        <f7-nav-left>
          <f7-link icon-if-ios="f7:close" icon-if-md="material:close" popup-close/>
        </f7-nav-left>
        <f7-nav-title>Not found</f7-nav-title>
      </f7-navbar>
      <f7-block>
        Sorry, but this is not found.
      </f7-block>
    </f7-page>
  </f7-view>
</template>
