<template>
  <div class="popup">
    <div class="view">
      <div class="page">
        Popup there, at {{ $route.params.name }}.
      </div>
    </div>
  </div>
</template>

<style></style>

<script></script>

