<template>
  <!-- App -->
  <div id="app">

    <!-- Statusbar -->
    <f7-statusbar/>

    <!-- Left Panel -->
    <!--
    <f7-panel
      left
      cover
      theme-dark>
      <f7-view url="/panel-left/"/>
    </f7-panel>
    -->

    <!-- Right Panel -->
    <!--
      <f7-panel
      right
      cover
      theme-dark>
      <f7-view url="/panel-right/"/>
    </f7-panel>
    -->

    <!-- Main View -->
    <f7-view
      id="view-main"
      url="/"
      main
      xhr-cache="true"/>

    <!-- Popups -->
    <f7-popup id="popup-error">
      <f7-view>
        <f7-page>
          <f7-navbar>
            <f7-nav-left>
              <f7-link
                icon-if-ios="f7:close"
                icon-if-md="material:close"
                popup-close/>
            </f7-nav-left>
            <f7-nav-title>{{ $t('popupError.title') }}</f7-nav-title>
          </f7-navbar>
          <f7-block>
            <p>{{ $t('popupError.line1') }}</p>
            <p>{{ $t('popupError.line2') }}</p>
            <f7-button
              fill
              raised
              popup-close
              style=" width: 150px;margin-top: 30px;">J'ai compris!</f7-button>
          </f7-block>
        </f7-page>
      </f7-view>
    </f7-popup>

    <!-- Login Screen -->
    <!--
    <f7-login-screen id="login-screen">
      <f7-view>
        <f7-page login-screen>
          <f7-login-screen-title>Login</f7-login-screen-title>
          <f7-list form>
            <f7-list-item>
              <f7-label>Nom d'utilisateur</f7-label>
              <f7-input
                name="username"
                placeholder="Username"
                type="text"/>
            </f7-list-item>
            <f7-list-item>
              <f7-label>Mot de passe</f7-label>
              <f7-input
                name="password"
                type="password"
                placeholder="Password"/>
            </f7-list-item>
          </f7-list>
          <f7-list>
            <f7-list-button
              title="Sign In"
              login-screen-close/>
            <f7-block-footer>
              <p>Cliquer sur S'inscrire pour fermer cet écran</p>
            </f7-block-footer>
          </f7-list>
        </f7-page>
      </f7-view>
    </f7-login-screen>
    -->

  </div>
</template>

<script>
</script>
