<!-- eslint-disable vue/max-attributes-per-line -->
<!-- eslint-disable max-len-->
<template>
  <!-- App -->
  <div id="app">

    <!-- Statusbar -->
    <f7-statusbar/>

    <!-- Left Panel -->
    <f7-panel left reveal>
      <f7-view id="left-panel-view" navbar-through :dynamic-navbar="true">
        <f7-navbar v-if="$theme.ios" title="Tabliz" sliding/>
        <f7-pages>
          <f7-page>
            <f7-navbar v-if="$theme.material" title="Tabliz" sliding/>
            <f7-block inner>
              <p> <center> Hi! <br> <br> Feel the menu with Tabliz</center> </p>
            </f7-block>
          </f7-page>
        </f7-pages>
      </f7-view>
    </f7-panel>

    <!-- Main Views -->
    <f7-views>
      <f7-view id="main-view" navbar-through :dynamic-navbar="true" main>

        <!-- iOS Theme Navbar -->
        <f7-navbar v-if="$theme.ios">
          <f7-nav-left>
            <f7-link icon="menu" open-panel="left"><icon name="bars" class="text-color-red"/></f7-link>
          </f7-nav-left>
          <f7-nav-center sliding>Tabliz</f7-nav-center>
        </f7-navbar>

        <!-- Pages -->
        <f7-pages>
          <f7-page>

            <!-- Material Theme Navbar -->
            <f7-navbar v-if="$theme.material">
              <f7-nav-left>
                <f7-link icon="icon-bars" open-panel="left"/>
              </f7-nav-left>
              <f7-nav-center sliding>Tabliz</f7-nav-center>
            </f7-navbar>

            <!-- Page Content -->
            <transition name="fade" mode="in-out">
              <f7-block-title v-if="this.$store.state.isLoading" style="text-align:center" key="spinner"><span style="width:42px; height:42px" class="preloader"/></f7-block-title>
              <div v-else key="places-list">
                <f7-block-title style="text-align:center">{{ placesCount }} restaurants trouvés</f7-block-title>
                <f7-list media-list>
                  <f7-list-item
                    v-for="place in this.$store.state.places"
                    :key="place.id"
                    :link="'place/' + place.id"
                    :title="place.name"
                    :media="'<img src=\'./static\/' + place.cover + '\' style=\'height: 85px; width: 85px;\'>'"
                    :text="place.style"
                    @click="setPlaceId(place.id)">
                    <div slot="inner">
                      <div>
                        <star-rating active-color="#FFB74D" :increment="0.5" :inline="true" :item-size="15" :border-width="0" :read-only="true" :spacing="0" :show-rating="false" v-model="place.score.stars"/>
                        <span class="votes">({{ place.score.votes }})</span>
                        <span class="priceRange">{{ place.priceRange }}</span>
                      </div>
                      <div style="margin-top: 0em;">
                        <span class="summary">{{ place.summary }}</span>
                      </div>
                    </div>
                  </f7-list-item>
                </f7-list>
              </div>
            </transition>
          </f7-page>
        </f7-pages>
      </f7-view>
    </f7-views>

  </div>
</template>

<script>
import Debug from 'debug-levels';

const d = Debug('app.vue');

export default {
  // Hook code when mounted
  computed: {
    placesCount() {
      return this.$store.state.places.length;
    },
  },
  mounted() {
    // `this` is the APP instance
    this.$store.commit('setIsLoading', true);
    const url = '/places/';
    d.debug('Requesting %s', url);
    this.$http.get(url).then(
      function responseCB(r) {
        // Store obtained response
        d.debug('Received from %s the response %o', url, r.body);

        // Store it
        this.$store.commit('setPlaces', r.body.places);
        this.$store.commit('setIsLoading', false);
      },
      function errorCB(r) {
        d.error('Received from %s the error %s', url, r.body);
        this.$store.commit('setIsLoading', false);
      },
    );
    d.debug('Mounted: this is %o', this);
  },
  methods: {
    setPlaceId(id) {
      this.$store.commit('setPlaceId', id);
    },
  },
};
</script>
