<template>
  <f7-block
    v-if="store.getters[GETTERS.DEBUG]"
    inset
    strong>
    <f7-block-header>Debug</f7-block-header>
    <f7-block-title>f7route</f7-block-title>
    <f7-list>
      <f7-list-item
        :after="f7route.url"
        title="url" />
      <f7-list-item
        :after="f7route.path"
        title="path" />
      <f7-list-item
        v-if="f7route.hash"
        :after="f7route.hash"
        title="hash" />
      <f7-list-item
        v-for="(value, key) in f7route.params"
        :key="key"
        :after="value"
        :title="'params.' + key" />
      <f7-list-item
        v-for="(value, key) in f7route.query"
        :key="key"
        :after="value"
        :title="'query.' + key" />
    </f7-list>
    <f7-block-title>i18n</f7-block-title>
    <f7-list>
      <f7-list-item
        :after="i18n.i18next.language"
        title="i18next.language" />
      <f7-list-item
        :after="listOfLanguages"
        title="i18next.languages" />
    </f7-list>
  </f7-block>
</template>

<script>
import { GETTERS } from '../js/store-constants';

export default {
  props: {
    f7route: {
      type: Object,
      default: function _default() { return { }; },
      required: true,
    },
    i18n: {
      type: Object,
      default: function _default() { return { }; },
      required: false,
    },
    store: {
      type: Object,
      default: function _default() { return { }; },
      required: true,
    },
  },
  data: function _data() {
    return {
      GETTERS,
      count: 0,
    };
  },
  computed: {
    listOfLanguages: function _listOfLanguages() {
      return this.i18n.i18next.languages.join(', ');
    },
  },
};
</script>
