<template>
  <f7-page color-theme="red">
    <f7-navbar>
      <f7-nav-left>
        <f7-link
          icon-if-ios="f7:menu"
          icon-if-md="material:menu"
          panel-open="left"/>
      </f7-nav-left>
      <f7-nav-title>Tabliz</f7-nav-title>
      <f7-nav-right>
        <f7-link
          icon-if-ios="f7:menu"
          icon-if-md="material:menu"
          panel-open="right"/>
      </f7-nav-right>
    </f7-navbar>
    <f7-toolbar>
      <f7-link panel-open="left">Left Link</f7-link>
      <f7-link panel-open="right">Right Link</f7-link>
    </f7-toolbar>
    <f7-block strong>
      <p>Here is your blank Framework7 app. Let's see what we have here.</p>
    </f7-block>
    <f7-block-title>Navigation</f7-block-title>
    <f7-list>
      <f7-list-item
        link="/about/"
        title="About"/>
      <f7-list-item
        link="/form/"
        title="Form"/>
    </f7-list>
    <f7-block-title>Modals</f7-block-title>
    <f7-block strong>
      <f7-row>
        <f7-col width="50">
          <f7-button
            fill
            raised
            popup-open="#popup">Popup</f7-button>
        </f7-col>
        <f7-col width="50">
          <f7-button
            fill
            raised
            login-screen-open="#login-screen">Login Screen</f7-button>
        </f7-col>
      </f7-row>
    </f7-block>
    <f7-block-title>Panels</f7-block-title>
    <f7-block strong>
      <f7-row>
        <f7-col width="50">
          <f7-button
            ill
            raised
            panel-open="left">Left Panel</f7-button>
        </f7-col>
        <f7-col width="50">
          <f7-button
            fill
            raised
            panel-open="right">Right Panel</f7-button>
        </f7-col>
      </f7-row>
    </f7-block>
    <f7-list>
      <f7-list-item
        link="/dynamic-route/blog/45/post/125/?foo=bar#about"
        title="Dynamic Route"/>
      <f7-list-item
        link="/load-something-that-doesnt-exist/"
        title="Default Route (404)"/>
    </f7-list>
  </f7-page>
</template>
<script>
export default {};
</script>
