<template>

  <f7-page>

    <f7-navbar>
      <f7-nav-left>
        <f7-link
          icon-if-ios="f7:bars"
          icon-if-md="material:menu"
          popup-open="#popup-main"/>
      </f7-nav-left>
      <f7-nav-title>Tabliz</f7-nav-title>
    </f7-navbar>

    <!-- f7-block-title v-if="!this.$store.state.isLoading" -->
    <f7-block-title v-if="!this.$store.state.isLoading">
      <p class="center">{{ placesCount }} restaurants found</p>
    </f7-block-title>

  </f7-page>

</template>

<script>
import Debug from 'debug-levels';
import UtilsUi from '../js/utils-ui';
// import { ACTIONS } from '../js/store-types';

const d = Debug('*** page-restaurants.vue');

// Register F7 Vue components
export default {
  components: {
    name: 'PageRestaurants',
  },
  computed: {
    placesCount() {
      d('placesCount() returns %d', this.$store.getter.places.length);
      return this.$store.getter.places.length;
    },
  },
  mounted() {
    d.log('mounted() was here');
    UtilsUi.loaderShow('Loading menu...');
    /*     this.$store.dispatch(ACTIONS.LOAD_RESTAURANTS).then(() => {
      UtilsUi.loaderHide(this);
    });
    // TODO: error management ?
     */
  },
};
</script>
