/* =========
Your custom styles go here
 ========= */

.vue-rate-it-rating {
  vertical-align: middle;
 }

 .votes {
  color: #A0A0A0;
  font-size: smaller;
}

.priceRange {
  color: #A0A0A0;
  font-size: smaller;
  float: right;
}

.summary {
  color: #A0A0A0;
  float: left;
}
.swipe-indicator  {
  vertical-align: middle;
  padding-right: 2em;
  padding-left: 2em;
}

.swiper-pagination {
  /*top: 0;$*/
}

/* OH's changes, to be included in another form to keep styling consistent
.navbar {
  background: #DC143C;
}

.open-panel {
  color: #ffffff;
}

.center {
  color: #ffffff;
}

.back {
  color: #ffffff;
}

i.icon.icon-back {
  margin-left: 10px;
  background-image:
}

.swiper-pagination-bullet-active {
  background: #DC143C;
}

.summary {
  color: #666;
  font-size: 14px;
  font-style: normal;
}

div {
  background-image: "none";
}
*/
