<template>
  <div>
    <router-link to="/">Aller à /</router-link>
  </div>
</template>

<script>
export default {
  name: 'Welcome',
  data() {
    return {
      msg: 'I am Welcome.',
    };
  },
};
</script>
