<template>
  <div id="app">
    <!-- Statusbar -->
    <!-- <div class="statusbar"/> -->

    <!-- Main View -->
    <!-- <div
      class="view view-main"
      id="view-main"
      url="/"/>
 -->
    <!-- Popup -->
    <!-- <div
      class="popup"
      id="menu-popup">
       <div
        class="view"
        id="popup-main">
        <div class="page">
          <div class="navbar">
            <div class="left">
              <a class="link"
                icon-if-ios="f7:close"
                icon-if-md="material:close"
                popup-close/>
            </div>
            <div class="title">About</div>
          </div>
          <div class="block">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Neque, architecto. Cupiditate laudantium rem nesciunt numquam, ipsam.
            Voluptates omnis, a inventore atque ratione aliquam.
            Omnis iusto nemo quos ullam obcaecati, quod.
          </div>
        </div>
      </div>
    </div> -->

    <!-- Statusbar -->
    <f7-statusbar>
    </f7-statusbar>

    <!-- Main View -->
    <f7-view
      id="main-view"
      url="/"
      main>
      <p>Blo!</p>
    </f7-view>

    <!-- Popup -->
    <f7-popup id="menu-popup">
      <f7-view>
        <f7-page>
          <f7-navbar>
            <f7-nav-left>
              <f7-link
                icon-if-ios="f7:close"
                icon-if-md="material:close"
                popup-close/>
            </f7-nav-left>
            <f7-nav-title>About</f7-nav-title>
          </f7-navbar>
          <f7-block>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Neque, architecto. Cupiditate laudantium rem nesciunt numquam, ipsam.
            Voluptates omnis, a inventore atque ratione aliquam.
            Omnis iusto nemo quos ullam obcaecati, quod.
          </f7-block>
        </f7-page>
      </f7-view>
    </f7-popup>

    <!-- <router-view/> -->
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
