/*
 * You must lint this CSS file: within Visual Studio Code, install the Stylelint extension.
 * After installation, follow Tomasz Zając's post install instructions at:
 * https://marketplace.visualstudio.com/items?itemName=shinnn.stylelint#review-details
 */


 /*
 * Ressources to screens resolution:
 * https://www.paintcodeapp.com/news/ultimate-guide-to-iphone-resolutions
 * https://material.io/tools/devices
 */

/*
 * -----------------------------------------------------------------------------------------------
 * Basic HTML elements styles
 * -----------------------------------------------------------------------------------------------
 */

 .ios body {
   font-family: 'Open Sans', apple-system, SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
 }

 .md body {
  font-family: 'Open Sans', Roboto, Noto, Helvetica, sans-serif;
}

 img {
  border-radius: 2.5px;
  }

/*
 * -----------------------------------------------------------------------------------------------
 * Framework7 styles, not md nor ios relatd
 * -----------------------------------------------------------------------------------------------
 */

/* This style seems not used so far... */
/*
.block {
  margin-bottom: 10px;
}
*/

/* Menu items have title in bold (e.g. List of restaurants) */
.list .item-title {
  font-weight: 700;
}

/*
 * Removes the right arrow in media lists, as well as the padding right it takes
 * ER: really ? Works well on ios, suggest there is more...
 */
.media-list.media-list-nobg .item-link .item-title-row,
.li.media-item .item-link .item-title-row {
  background: none;
  padding-right: 0px;
  font-size: 12px;
}

/* This aligns the top of the thumbnails with the text in home and restaurant page */
.md .media-list .item-media, .md li.media-item .item-media {
  padding-top: 18px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  left: 0;
  width: 100%;
}

.swipe-indicator {
  margin: 0 12px; /* This is the space around the < and > in the category title, on top of navigation */
}

/*
 * -----------------------------------------------------------------------------------------------
 * Framework7 styles: both md + ios
 * -----------------------------------------------------------------------------------------------
 */

/* Title above the swiper and its bullets ("Pour commencer"), in deep pages */
.ios .block-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ios .block-title,
.md .block-title {
  color: #DC143C; /* Tabliz red */
  text-transform: none;
  /* Below is useless, since already specified by F7 */
  /* margin: 45px 16px 16px; */
  /* font-size: 17px; */
}

/* Button color in the red theme */
.ios .color-theme-red .button.button-fill,
.md .color-theme-red .button.button-fill
{
  background-color: #DC143C;
}

/* Background of navbar / app title */
.ios .color-theme-red .navbar,
.md .color-theme-red .navbar {
  background: #DC143C;
}

/* White title for iOS */
.ios .navbar .title {
  color: #fff;
  /* font-weight: normal; */
}

/* iOS menu icons back and menu must be re-colored in white... */
.ios .navbar a.link {
    color: #ffffff;
}
.ios a.back .icon-back {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width%3D'12' height%3D'20' viewBox%3D'0 0 12 20' xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath d%3D'M.18261596 9.4221638c.0352203-.05148305.07573462-.10050698.1215468-.14631917L9.1425872.4374202c.5830904-.58309038 1.52656832-.5849888 2.11643872.00488163.5857864.58578644.591222 1.53009836.0048816 2.11643873L3.82594417 9.9967039l7.43188553 7.4318855c.5830904.5830904.5849888 1.5265683-.0048817 2.1164387-.5857864.5857865-1.5300983.591222-2.11643868.0048816L.2980849 10.7114853c-.3526746-.3526746-.3939974-.89699-.11546894-1.2893215z' fill%3D'%23ffffff' fill-rule%3D'evenodd'%2F%3E%3C%2Fsvg%3E");
  margin-left: 12px;
}

.ios .color-red .swiper-pagination-bullet-active,
.ios .color-theme-red .swiper-pagination-bullet-active,
.md .color-red .swiper-pagination-bullet-active,
.md .color-theme-red .swiper-pagination-bullet-active {
  background: #DC143C;
}

/* Top margin of list */
.ios .list {
  margin-top: 0;
}
.md .list {
  margin-top: 20px /* !important*/;

}

.ios .list .item-title-row, .md .list .item-title-row {
  font-size: 12px;
}

/* An entry in the lsit */
.ios .list .item-link,
.ios .list .list-button,
.md .list .item-link,
.md .list .list-button {
  font-size: 12px;
}

/* This removes the thin line before and after the list */
.md .list ul:after, .md .list ul:before {
  background: none;
}

/* This makes the page background grey instead of white */
.md .page-content {
  background-color: #f5f5f5;
}

/* This aligns the content of page just below the navbar */
.md .navbar~.page-content {
  padding-top: 40px;
}


/*
 * -----------------------------------------------------------------------------------------------
 * Framework7 styles: md only
 * -----------------------------------------------------------------------------------------------
 */

.ios .list .item-inner:after,
.md .list .item-inner:after {
  content: none;

  /*
  position: absolute;
  background-color: rgba(0, 0, 0, 0.12);
  display: block;
  z-index: 15;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  */
}


.md .list .item-text {
  color: #212121;
  font-size: 12px;
}



.md .list li:before {
  /* height: 150px; */
  margin-top: 0;
  margin-bottom: 0;
}


/* ======== CSS next rule to check is  below ======== */

/*
 * -----------------------------------------------------------------------------------------------
 * Tabliz styles
 * -----------------------------------------------------------------------------------------------
 */


.itemDesc {
  padding-top: 0.1em; /* 0.3 was also present... (double declaration...) */
  overflow: hidden;
  text-overflow: hidden;
  -webkit-line-clamp: 1; /* Chrome on Android and Safari on iOS will handle this, but not Firefox desktop */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 12.3px;
  color: #404040;
}

.itemPrice {
  font-size: 11px;
  /*font-weight: bold;*/
  padding-top: 0.2em;
  /*vertical-align: text-bottom;*/
}

.menuItemTitle {
  text-align: center;
  margin-right: 3.5em;
  margin-left: 3.5em;
  font-size: 17px;
  font-weight: bolder;
}

.menuItemPrice {
  text-align: center;
  font-size: 17px;
}

.menuItemDetailsDesc {
  text-align: center;
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.menuItemDetailsPhoto {
  width: 100%;
  max-width: 360px;
  /* margin-top: 16px;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.menuItemPhoto {
  width: 100%;
}

.my-swiper-pagination {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.my-swiper-pagination>.swiper-pagination-bullet {
  margin: 0 4px; /* This is the space betweent the pagination bullets */
}

.priceRange {
  font-size: 10px;
  padding-top: 0.3em;
}

.summary {
  font-size: 12px;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;*/
  overflow: hidden;
  text-overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.votes {
  font-size: 10px;
  vertical-align: text-bottom;
}

.md .list .item-subtitle {
  font-size: 12px;
}

.actions-group {
  text-align: center;
}

.md .actions-button {
  font-size: 14px;
  font-weight: bold;
}

/*
 * -----------------------------------------------------------------------------------------------
 * This font stylesheet generated by Transfonter (https://transfonter.org) on April 16, 2018 4:44 PM
 * -----------------------------------------------------------------------------------------------
 */

@font-face {
  /* font-display:swap is explained at https://www.zachleat.com/web/comprehensive-webfonts */
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/OpenSans-ExtraboldItalic.eot');
  src: url('fonts/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-ExtraboldItalic.woff2') format('woff2'), url('fonts/OpenSans-ExtraboldItalic.woff') format('woff'), url('fonts/OpenSans-ExtraboldItalic.ttf') format('truetype'), url('fonts/OpenSans-ExtraboldItalic.svg#OpenSans-ExtraboldItalic') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/OpenSans-Light.eot');
  src: url('fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Light.woff2') format('woff2'), url('fonts/OpenSans-Light.woff') format('woff'), url('fonts/OpenSans-Light.ttf') format('truetype'), url('fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/OpenSans-SemiboldItalic.eot');
  src: url('fonts/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-SemiboldItalic.woff2') format('woff2'), url('fonts/OpenSans-SemiboldItalic.woff') format('woff'), url('fonts/OpenSans-SemiboldItalic.ttf') format('truetype'), url('fonts/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/OpenSans-Bold.eot');
  src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Bold.woff2') format('woff2'), url('fonts/OpenSans-Bold.woff') format('woff'), url('fonts/OpenSans-Bold.ttf') format('truetype'), url('fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: url('fonts/OpenSans-Italic.eot');
  src: url('fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Italic.woff2') format('woff2'), url('fonts/OpenSans-Italic.woff') format('woff'), url('fonts/OpenSans-Italic.ttf') format('truetype'), url('fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/OpenSans-Semibold.eot');
  src: url('fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Semibold.woff2') format('woff2'), url('fonts/OpenSans-Semibold.woff') format('woff'), url('fonts/OpenSans-Semibold.ttf') format('truetype'), url('fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: bold;
  src: url('fonts/OpenSans-BoldItalic.eot');
  src: url('fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-BoldItalic.woff2') format('woff2'), url('fonts/OpenSans-BoldItalic.woff') format('woff'), url('fonts/OpenSans-BoldItalic.ttf') format('truetype'), url('fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/OpenSansLight-Italic.eot');
  src: url('fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSansLight-Italic.woff2') format('woff2'), url('fonts/OpenSansLight-Italic.woff') format('woff'), url('fonts/OpenSansLight-Italic.ttf') format('truetype'), url('fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/OpenSans.eot');
  src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans.woff2') format('woff2'), url('fonts/OpenSans.woff') format('woff'), url('fonts/OpenSans.ttf') format('truetype'), url('fonts/OpenSans.svg#OpenSans') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/OpenSans-Extrabold.eot');
  src: url('fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Extrabold.woff2') format('woff2'), url('fonts/OpenSans-Extrabold.woff') format('woff'), url('fonts/OpenSans-Extrabold.ttf') format('truetype'), url('fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
}
