<template>
  <f7-page>
    <f7-navbar hide-navbar-on-scroll>
      <f7-nav-left back-link=" "/>
      <f7-nav-title>{{ $t('settings.opinionAndHelp.answerSurvey.title') }}</f7-nav-title>
      <f7-nav-right style="height: 50px;width: 50px;"><img
        src="static/official-tabliz-logo-round-50x50-72dpi.png"
        style="width:30px; height:30px;"></f7-nav-right>
    </f7-navbar>
    <iframe
      id="surveyIFrame"
      :src="getSurveyURL()"
      width="100%"
      height="100%"
      frameborder="0"
      marginheight="0"
      marginwidth="0" />
    <debug-block
      :i18n="this.$i18n"
      :f7route="$f7route"
      :store="$store"/>
  </f7-page>
</template>

<script>
import { ScreenNames, Tracker } from '../js/utils-analytics';
import { GETTERS } from '../js/store-constants';
import { DebugQS } from '../js/utils-common';

const D = DebugQS('answer-survey.vue');

export default {
  data: function _data() {
    return {
      GETTERS,
    };
  },
  mounted() {
    D('mounted()');
  },
  methods: {
    getSurveyURL: function _getSurveyURL() {
      const lng = this.$store.getters[GETTERS.CURRENT_LNG];
      D('Asking survey url for lng "%s"', lng);
      const SURVEY_URLS = [
        { lng: 'de', url: 'https://tabliz.typeform.com/to/kNNTfJ' },
        { lng: 'en', url: 'https://tabliz.typeform.com/to/molJqS' },
        { lng: 'fr', url: 'https://tabliz.typeform.com/to/FB2JSn' },
        { lng: 'it', url: 'https://tabliz.typeform.com/to/qAFBax' },
        { lng: 'ru', url: 'https://tabliz.typeform.com/to/gvwGjA' },
        { lng: 'zh', url: 'https://tabliz.typeform.com/to/HAjXFh' },
      ];
      const survey = SURVEY_URLS.find(element => (element.lng === lng));
      const { url } = survey;
      D('Return for lng "%s" the survey url "%s"', lng, url);
      return url;
    },
  },
  on: {
    pageAfterIn: function _pageAfterIn(e, page) {
      D('pageAfterIn with event e: %j, and page data: %j: ', e, page);
      Tracker.trackView(this, ScreenNames.ANSWER_SURVEY);
    },
  },
};
</script>
