<template>
  <f7-page hide-navbar-on-scroll>
    <f7-navbar>
      <f7-nav-left>
        <f7-link
          :href="PATHS.SETTINGS"
          icon-if-ios="material:menu"
          icon-if-md="material:menu"/> <!-- panel-open="left" -->
      </f7-nav-left>
      <f7-nav-title>{{ $t('global.tabliz') }}</f7-nav-title>
      <f7-nav-right style="height: 50px;width: 50px;">
        <img
          src="static/official-tabliz-logo-round-50x50-72dpi.png"
          style="width:30px;height:30px;">
      </f7-nav-right>
    </f7-navbar>

    <f7-block strong>
      <p>{{ $t('global.survey1') }}</p>
      <p>{{ $t('global.survey2') }}</p>
    </f7-block>

    <f7-block-title >
      {{ $t('home.welcome') }}
    </f7-block-title>

    <div>
      <f7-list
        class="media-list-nobg"
        media-list>
        <f7-list-item
          v-for="r in $store.state.restaurants"
          :key="r.id"
          :title="r.name"
          :media="UriHelper.getStaticUri('s/r/', r.cover, '_empty.png')"
          :text="r.style"
          class="item-title-row-no-bg"
          @click="selectRestaurant(r.id)">
          <div slot="inner">
            <div style="padding-top:3px;">
              <star-rating
                :increment="0.5"
                :inline="true"
                :item-size="15"
                :border-width="0"
                :read-only="true"
                :spacing="0"
                :show-rating="false"
                v-model="r.score.stars"
                active-color="#FFC000"/>
              <span
                v-if="r.score.votes > 0"
                class="votes">({{ r.score.votes }})</span>
            </div>
            <div class="priceRange">{{ r.priceRange }}</div>
            <div class="summary">{{ r.summary }}</div>
          </div>
        </f7-list-item>
      </f7-list>

      <f7-actions class="actions-survey">
        <f7-actions-group>
          <f7-actions-label>{{ $t('settings.survey.actions.label') }} </f7-actions-label>
          <f7-actions-button
            close
            @click="doSurveyOk();">
            {{ $t('settings.survey.actions.buttonOk') }}
          </f7-actions-button>
        </f7-actions-group>
        <f7-actions-group>
          <f7-actions-button
            class="action-button-cancel"
            close
            @click="doSurveyCancel();">
            {{ $t('settings.survey.actions.buttonCancel') }}
          </f7-actions-button>
        </f7-actions-group>
      </f7-actions>

      <debug-block
        :i18n="this.$i18n"
        :f7route="$f7route"
        :store="$store"/>
    </div>
  </f7-page>
</template>

<style scoped>
.block > p {
  text-align: center;
}
</style>

<script>
import Api from '../js/api';
import { UriHelper, PATHS } from '../routes-helpers';
import { GETTERS, MUTATIONS } from '../js/store-constants';
import { Events, ScreenNames, Tracker } from '../js/utils-analytics';
import Survey from '../js/utils-survey';
import { DebugQS } from '../js/utils-common';

const D = DebugQS('home.vue');

let surveyInited = false;

export default {
  data: function getData() {
    return {
      GETTERS, MUTATIONS, UriHelper, PATHS,
    };
  },
  mounted() {
    D('mounted()');
    if (!surveyInited) {
      Survey.init(this);
      surveyInited = true;
      D('Scheduled the survey');
    } else {
      D('Already scheduled the survey');
    }
  },
  methods: {
    onF7Init: function _onF7Init() {
      D('onF7Init()');
      if (this.$store.getters[GETTERS.DATA_OK_TO_LOAD]) {
        D('Before calling getRestaurants API...');
        Api.getRestaurants(
          this,
          this.$i18n.i18next.t('home.loading'),
        );
        D('After calling getRestaurants API...');
      } else {
        D('No need to call the getRestaurants API (already loaded)...');
      }
    },
    selectRestaurant: function _selectRestaurant(id) {
      // Store the selected restaurant, and track this event
      D('Chosen restaurant id is "%s"', id);
      this.$store.commit(MUTATIONS.SET_CHOSEN_RESTAURANT_ID, id);
      Tracker.trackEvent(
        this,
        Events.Category.NAVIGATION,
        Events.Action.SELECT_RESTAURANT,
        this.$store.getters[GETTERS.RESTAURANT].name,
      );

      // Route to the new view
      const newRoute = UriHelper.getRestaurantUri(id);
      D('Navigate to %s', newRoute);
      this.$f7router.navigate(newRoute);
    },
    doSurveyCancel: function _doSurveyCancel() {
      D('doSurveyCancel...');
      Tracker.trackEvent(
        this,
        Events.Category.NAVIGATION,
        Events.Action.SURVEY_DECLINE,
      );
      // Save to storage the decline
      const surveyState = Survey.getLatestSurveyState();
      surveyState.declinedCount += 1;

      // Reschedule once again, only if we did no reach the max decline
      if (surveyState.declinedCount < Survey.CONSTANTS.MAX_DECLINE) {
        Survey.scheduleSurvey(this);
        D('Rescheduled survey since declinedCount is < %d, is actually: %d', Survey.CONSTANTS.MAX_DECLINE, surveyState.declinedCount);
        // D('Don\'t reschedule for now (buggy)...');
      }
    },
    doSurveyOk: function _doSurveyOk() {
      D('doSurveyOk...');
      Tracker.trackEvent(
        this,
        Events.Category.NAVIGATION,
        Events.Action.SURVEY_ACCEPT,
      );
      // Save to storage the acceptance
      const surveyState = Survey.getLatestSurveyState();
      surveyState.taken = true;
      Survey.saveSurveyState(surveyState);

      // Go to survey
      const newRoute = UriHelper.getSurveyUri();
      D('Navigate to %s', newRoute);
      this.$f7router.navigate(newRoute);
    },
  },
  on: {
    pageAfterIn: function _pageAfterIn(e, page) {
      D('pageAfterIn with event e: %j, and page data: %j: ', e, page);
      Tracker.trackView(this, ScreenNames.HOME);
    },
  },
};
</script>
