/* eslint max-len: ["error", { "code": 150, "comments": 150 }] */

<template>
  <f7-page hide-navbar-on-scroll>
    <f7-navbar>
      <f7-nav-left back-link=" "/>
      <f7-nav-title>{{ $store.getters[GETTERS.MENU_ITEM].title }}</f7-nav-title>
      <f7-nav-right style="height: 50px;width: 50px;"><img
        src="static/official-tabliz-logo-round-50x50-72dpi.png"
        style="width:30px; height:30px;">
      </f7-nav-right>
    </f7-navbar>
    <f7-block
      v-if="$store.getters[GETTERS.IS_LOADING]"
      strong
      class="center">
      <p>{{ $t('menuItem.loading') }}</p>
    </f7-block>
    <div
      v-else>
      <img
        :src="UriHelper.getStaticUri(
          'm/mi/',
          $store.getters[GETTERS.MENU_ITEM].cover,
          '_default.png')"
        class="menuItemDetailsPhoto">
      <div class="menuItemTitle"> <p>{{ $store.getters[GETTERS.MENU_ITEM].title }} </p> </div>
      <div style="padding-top:0px;text-align:center;">
        <star-rating
          v-if="$store.getters[GETTERS.MENU_ITEM].score.stars > 0"
          :increment="0.5"
          :inline="true"
          :item-size="25"
          :border-width="0"
          :read-only="true"
          :spacing="0"
          :show-rating="false"
          v-model="$store.getters[GETTERS.MENU_ITEM].score.stars"
          active-color="#FFC000"/>
        <span
          v-if="$store.getters[GETTERS.MENU_ITEM].score.stars > 0"
          class="votes"
          style="vertical-align:top;">({{ $store.getters[GETTERS.MENU_ITEM].score.votes }})</span>
      </div>
      <div class="menuItemPrice"> <p>{{ $store.getters[GETTERS.MENU_ITEM].price }} €</p> </div>
      <div class="menuItemDetailsDesc"> <p>{{ $store.getters[GETTERS.MENU_ITEM].desc }} </p> </div>
    </div>
    <debug-block
      :i18n="this.$i18n"
      :f7route="$f7route"
      :store="$store"/>
  </f7-page>
</template>
<script>
import { UriHelper } from '../routes-helpers';
import { GETTERS, MUTATIONS } from '../js/store-constants';
import { ScreenNames, Tracker } from '../js/utils-analytics';
import { DebugQS } from '../js/utils-common';

const D = DebugQS('menuItem.vue');

export default {
  data: function getData() {
    return {
      GETTERS,
      MUTATIONS,
      UriHelper,
    };
  },
  mounted() {
    D('mounted()');
  },
  methods: {
    onF7Init: function _onF7Init() {
      D('onF7Init()');
    },
  },
  on: {
    pageAfterIn: function _pageAfterIn(e, page) {
      D('pageAfterIn with event e: %j, and page data: %j: ', e, page);
      Tracker.trackView(this, ScreenNames.RESTAURANT);
    },

  },
};
</script>
