<template>
  <f7-page>
    <f7-navbar
      :title="$t('notFound.title')"
      back-link=" "/>
    <f7-block strong>
      <p>{{ $t('notFound.line1') }}</p>
      <p>{{ $t('notFound.line2', {
        url: $f7route.url,
        path: $f7route.path,
        interpolation: { escapeValue: false }
      }) }}</p>
      <p>{{ $t('notFound.line3') }}</p>
    </f7-block>
  </f7-page>
</template>

<script>
import { ScreenNames, Tracker } from '../js/utils-analytics';
import { DebugQS } from '../js/utils-common';

const D = DebugQS('not-found.vue');

export default {
  mounted() {
    D('mounted()');
  },
  on: {
    pageAfterIn: function _pageAfterIn(e, page) {
      D('pageAfterIn with event e: %j, and page data: %j: ', e, page);
      Tracker.trackView(this, ScreenNames.NOT_FOUND);
    },
  },
};
</script>
