<template>
  <f7-page>
    <f7-navbar>
      <f7-nav-left back-link=" "/>
      <f7-nav-title>{{ $store.getters[GETTERS.RESTAURANT].name }}</f7-nav-title>
      <f7-nav-right
        style="height: 50px;width: 50px;">
        <img
          src="static/official-tabliz-logo-round-50x50-72dpi.png"
          style="width:30px;height:30px;">
      </f7-nav-right>
    </f7-navbar>
    <f7-block
      v-if="$store.getters[GETTERS.IS_LOADING]"
      strong
      class="center">
      <p>{{ $t('restaurant.loading', { name: $store.getters[GETTERS.RESTAURANT].name }) }}</p>
    </f7-block>
    <div
      v-else
      class="center">
      <f7-swiper
        key="menu-swipe"
        :params="swiperParams"
        pagination>
        <f7-swiper-slide
          v-for="(menuPage, index) in $store.getters[GETTERS.RESTAURANT_MENU].pages"
          :key="menuPage.title">
          <f7-block-title style="text-align: center;">
            <span
              v-if="index > 0"
              class="swipe-indicator">
              <f7-icon
                color="gray"
                f7="left"
                material="chevron_left"
                size="12"/>
            </span>
            {{ menuPage.title }}
            <span
              v-if="index < $store.getters[GETTERS.RESTAURANT_MENU].pages.length - 1"
              class="swipe-indicator">
              <f7-icon
                color="gray"
                f7="right"
                material="chevron_right"
                size="12"/>
            </span>
          </f7-block-title>
          <div class="my-swiper-pagination" />
          <f7-list
            class="media-list-nobg"
            media-list>
            <!--
              :link="UriHelper.getMenuItemUri($store.getters[GETTERS.RESTAURANT_ID], item.id)"
              @click="$store.commit(MUTATIONS.SET_CHOSEN_MENU_ITEM_FULL_ID, item.id)"
            -->
            <f7-list-item
              v-for="item in menuPage.items"
              :id="UtilsRestaurant.getFullId(menuPage.id , item.id)"
              :key="UtilsRestaurant.getFullId(menuPage.id , item.id)"
              :media="UriHelper.getStaticUri(
                's/mi/',
                item.cover,
                (UtilsRestaurant.isMenuItem(item) ? '_default.png': '_no.png'))"
              :title="UtilsRestaurant.getTitle(item)"
              :class="UtilsRestaurant.getCSSClasses(item)"
              @click="selectMenuItem(UtilsRestaurant.getFullId(menuPage.id , item.id))">
              <div
                v-if="item.score !== undefined"
                style="padding-top:3px;">
                <star-rating
                  v-if="item.score.stars > 0"
                  :increment="0.5"
                  :inline="true"
                  :item-size="15"
                  :border-width="0"
                  :read-only="true"
                  :spacing="0"
                  :show-rating="false"
                  v-model="item.score.stars"
                  active-color="#FFC000"/>
                <span
                  v-if="item.score.votes > 0"
                  class="votes">({{ item.score.votes }})</span>
              </div>
              <div
                v-if="UtilsRestaurant.isMenuItem(item)"
                class="itemPrice">{{ item.price }} €</div>
              <div class="itemDesc">{{ item.desc }}</div>

            </f7-list-item>
          </f7-list>
        </f7-swiper-slide>
      </f7-swiper>
    </div>
    <debug-block
      :i18n="this.$i18n"
      :f7route="$f7route"
      :store="$store"/>
  </f7-page>
</template>

<style lang="css">
.menu-subcategory {
  color: #DC143C
}
</style>

<script>
import Api from '../js/api';
import { UriHelper } from '../routes-helpers';
import { GETTERS, MUTATIONS } from '../js/store-constants';
import { Events, ScreenNames, Tracker } from '../js/utils-analytics';
import { DebugQS } from '../js/utils-common';
import UtilsRestaurant from '../js/utils-restaurant';

const D = DebugQS('restaurant.vue');

export default {
  data: function _data() {
    return {
      GETTERS,
      MUTATIONS,
      UriHelper,
      UtilsRestaurant,
      swiperParams: {
        autoHeight: true,
        /*
        autoplay: {
          delay: 30000,
        },
        */
        grabCursor: true,
        history: {
          replaceState: false,
        },
        loop: false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          clickable: false,
          dynamicBullets: false,
          el: '.my-swiper-pagination',
        },
        preventClicks: true,
        preventClicksPropagation: true,
        spaceBetween: 20,
      },
    };
  },
  mounted() {
    D('mounted()');
  },
  methods: {
    onF7Init: function _onF7Init() {
      D('onF7Init()');
      // Let's check whether we already downloaded the data before
      if (!this.$store.getters[GETTERS.RESTAURANT_MENU].menu) {
        // We have to fetch the data first
        D('About to calling the API with "%s"', this.$store.getters[GETTERS.RESTAURANT_ID]);
        Api.getRestaurantMenu(
          this,
          this.$store.getters[GETTERS.RESTAURANT_ID],
          this.$i18n.i18next.t(
            'restaurant.loading',
            { name: this.$store.getters[GETTERS.RESTAURANT].name },
          ),
        );
        D('This is after calling the API.');
      } else {
        // Menu data is already thre, no API to invoke
        D('Menu for restaurant %s is already dowloaded', this.$store.getters[GETTERS.RESTAURANT].name);
      }
    },
    selectMenuItem: function _selectMenuItem(fullId) {
      // Store the chose, menuItem and track the event
      D('Chosen menuItem fullId is %j', fullId);
      this.$store.commit(MUTATIONS.SET_CHOSEN_MENU_ITEM_FULL_ID, fullId);
      Tracker.trackEvent(
        this,
        Events.Category.NAVIGATION,
        Events.Action.SELECT_MENU_ITEM,
        this.$store.getters[GETTERS.MENU_ITEM].title,
      );

      // Route to new view
      const newRoute = UriHelper.getMenuItemUri(this.$store.getters[GETTERS.RESTAURANT_ID], fullId);
      D('Navigate to %s', newRoute);
      this.$f7router.navigate(newRoute);
    },
  },
  on: {
    pageAfterIn: function _pageAfterIn(e, page) {
      D('pageAfterIn with event e: %j, and page data: %j: ', e, page);
      Tracker.trackView(this, ScreenNames.RESTAURANT);
    },
  },
};
</script>
