<template>
  <f7-page>
    <f7-navbar hide-navbar-on-scroll>
      <f7-nav-left back-link=" "/>
      <f7-nav-title>{{ $t('settings.title') }}</f7-nav-title>
      <f7-nav-right style="height: 50px;width: 50px;"><img
        src="static/official-tabliz-logo-round-50x50-72dpi.png"
        style="width:30px; height:30px;"></f7-nav-right>
    </f7-navbar>

    <f7-block strong>
      <p>{{ $t('global.motto') }}</p>
    </f7-block>

    <f7-block-title>{{ $t('settings.title') }}</f7-block-title>
    <f7-list media-list>
      <f7-list-item
        :link="PATHS.SETTINGS_LNG"
        :title="$t('settings.lng.title')"
        :after="$t('settings.lng.list.' + this.$store.getters[GETTERS.CURRENT_LNG])">
        <f7-icon
          slot="media"
          class="icon-prefs-lng"
          if-ios="f7:world"
          if-md="material:language" />
      </f7-list-item>
    </f7-list>
    <f7-block-title v-if="true">{{ $t('settings.opinionAndHelp.title') }}</f7-block-title>
    <f7-list
      v-if="true"
      media-list>
      <f7-list-item
        :link="PATHS.SETTINGS_ANSWER_SURVEY"
        :title="$t('settings.opinionAndHelp.answerSurvey.title')"
        :after="$t('settings.opinionAndHelp.answerSurvey.after')">
        <f7-icon
          slot="media"
          class="icon-answer-survey"
          if-ios="f7:chat"
          if-md="material:chat_bubble_outline" />
      </f7-list-item>
      <f7-list-item
        v-if="false"
        :link="PATHS.SETTINGS_ASK_QUESTION"
        :title="$t('settings.opinionAndHelp.question.title')"
        :after="$t('settings.opinionAndHelp.question.after')">
        <f7-icon
          slot="media"
          class="icon-question"
          if-ios="f7:help"
          if-md="material:help_outline" />
      </f7-list-item>
    </f7-list>
    <f7-block-title v-if="false">{{ $t('settings.subscribe.title') }}</f7-block-title>
    <f7-list
      v-if="false"
      media-list>
      <f7-list-item
        :link="PATHS.SETTINGS_SUBSCRIBE"
        :title="$t('settings.subscribe.giveEmail.title')"
        :after="$t('settings.subscribe.giveEmail.after')">
        <f7-icon
          slot="media"
          class="icon-subscribe"
          if-ios="f7:email"
          if-md="material:email" />
      </f7-list-item>
    </f7-list>
    <debug-block
      :i18n="this.$i18n"
      :f7route="$f7route"
      :store="$store"/>
  </f7-page>
</template>

<style scoped>
.block > p {
  text-align: center;
}

.ios .list .icon, .md .list .icon {
  color: white;
  border-radius: 4px;
}

.icon-prefs-lng, .icon-answer-survey, .icon-question, .icon-subscribe {
  background-color: #DC143C;
}

.ios .list .icon {
  padding-top: 5px;
  padding-left: 4px;
  padding-right: 4px;
}

.md .list .icon {
  padding-top: 5px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 5px;
}
</style>

<script>
import { PATHS, UriHelper } from '../routes-helpers';
import { GETTERS, MUTATIONS } from '../js/store-constants';
import { ScreenNames, Tracker } from '../js/utils-analytics';
import { DebugQS } from '../js/utils-common';

const D = DebugQS('settings.vue');

export default {
  data: function _data() {
    return {
      GETTERS,
      MUTATIONS,
      PATHS,
      UriHelper,
    };
  },
  mounted() {
    D('mounted()');
  },
  methods: {
  },
  on: {
    pageAfterIn: function _pageAfterIn(e, page) {
      D('pageAfterIn with event e: %j, and page data: %j: ', e, page);
      Tracker.trackView(this, ScreenNames.SETTINGS);
    },
  },

};
</script>
