<template>
  <f7-page>
    <f7-navbar hide-navbar-on-scroll>
      <f7-nav-left back-link=" "/>
      <f7-nav-title>{{ $t('settings.lng.title') }}</f7-nav-title>
      <f7-nav-right style="height: 50px;width: 50px;"><img
        src="static/official-tabliz-logo-round-50x50-72dpi.png"
        style="width:30px; height:30px;"></f7-nav-right>
    </f7-navbar>

    <f7-list media-list>
      <f7-list-item
        v-for="lng in getLanguages()"
        :key="lng"
        :title="getLng(lng)"
        :subtitle="getOriginalLng(lng)"
        @click="confirmNewLng(lng)">
        <!--
        img
          slot="media"
          class="icon-prefs-check"
          src="static/flags/algeria.png"
          width="25" />
          -->
        <f7-icon
          v-if="language.startsWith(lng)"
          slot="after"
          class="icon-prefs-check"
          if-ios="f7:check"
          if-md="material:check" />
      </f7-list-item>
    </f7-list>

    <f7-actions class="actions-settings-lng">
      <f7-actions-group>
        <f7-actions-label>
          {{
            $t('settings.lng.actions.label', {
              chosenLng: getLng(this.$store.getters[GETTERS.CHOSEN_LNG_TO_CONFIRM])
            })
          }}
        </f7-actions-label>
        <f7-actions-button
          close
          @click="doButtonOk();">
          {{
            $t('settings.lng.actions.buttonOk', {
              chosenLng: getLng(this.$store.getters[GETTERS.CHOSEN_LNG_TO_CONFIRM])
            })
          }}
        </f7-actions-button>
      </f7-actions-group>
      <f7-actions-group>
        <f7-actions-button
          class="action-button-cancel"
          close
          @click="doButtonCancel();">
          {{ $t('settings.lng.actions.buttonCancel') }}
        </f7-actions-button>
      </f7-actions-group>
    </f7-actions>

    <debug-block
      :i18n="this.$i18n"
      :f7route="$f7route"
      :store="$store"/>

  </f7-page>
</template>

<style>
/* Makes cancel button bold red */
.ios .actions-button.action-button-cancel,
.md .actions-button.action-button-cancel {
  font-weight: bold;
  color: #DC143C;
}

/* Makes the checkbox red */
.ios .list .icon.icon-prefs-check,
.md .list .icon.icon-prefs-check {
  color: #DC143C;
}

/* Removes Right Chevron > in language list-items */
.media-list .item-link .item-title-row {
  background-image: none;
}
</style>

<script>
import myResources from '../js/langs';
import { GETTERS, MUTATIONS } from '../js/store-constants';
import { /* Events, */ ScreenNames, Tracker } from '../js/utils-analytics';
import { DebugQS } from '../js/utils-common';

const D = DebugQS('settings-lng.vue');

// import { PATHS, UriHelper } from '../routes-helpers';
let f7Actions = null;

export default {
  data: function _data() {
    return {
      GETTERS,
      // I18next,
      MUTATIONS,
      // PATHS,
      // UriHelper,
      language: this.$i18n.i18next.language,
      languages: this.$i18n.i18next.languages,
    };
  },
  mounted() {
    D('mounted()');
  },
  methods: {
    onF7Ready: function _onF7Ready($f7) {
      D('onF7Ready(), with $f7: %o', $f7);
      f7Actions = $f7.actions;
    },
    confirmNewLng: function _confirmNewLng(lng) {
      D(`confirmNewLng(${lng}) called!`);
      if (this.language === lng) {
        D('No need to change the language');
      } else {
        D(`Store the temporary language selection '${lng}', and open actions sheet`);
        this.$store.commit(MUTATIONS.SET_CHOSEN_LNG_TO_CONFIRM, lng);
        /*
        Tracker.trackEvent(
          this,
          Events.Category.NAVIGATION,
          Events.Action.SELECT_SETTINGS_LNG_CHOICE,
          lng,
        );
        */
        f7Actions.open('.actions-settings-lng', true);
      }
    },
    getLanguages: function _getLanguages() {
      return Object.keys(myResources);
    },
    getLng: function _getLng(lng) {
      return this.$i18n.i18next.t(`settings.lng.list.${lng}`);
    },
    getOriginalLng: function _getOriginalLng(lng) {
      return this.$i18n.i18next.t(`settings.lng.list.${lng}${lng}`);
    },
    doButtonCancel: function _doButtonCancel() {
      D('doButtonCancel...');
      /*
      Tracker.trackEvent(
        this,
        Events.Category.NAVIGATION,
        Events.Action.SELECT_SETTINGS_LNG_CHOICE_CANCEL,
      );
      */
    },
    doButtonOk: function _doButtonOk() {
      D('doButtonOk...');
      const lng = this.$store.getters[GETTERS.CHOSEN_LNG_TO_CONFIRM];
      /*
      Tracker.trackEvent(
        this,
        Events.Category.NAVIGATION,
        Events.Action.SELECT_SETTINGS_LNG_CHOICE_CONFIRM,
        lng,
      );
      */
      this.$i18n.i18next.changeLanguage(lng);
      this.$store.commit(MUTATIONS.SET_CURRENT_LNG, lng);
      this.$store.commit(MUTATIONS.SET_CHOSEN_LNG_TO_CONFIRM, '');
      this.$f7router.refreshPage();
      this.$store.commit(MUTATIONS.SET_DATA_OK_TO_LOAD, true);
    },
  },
  on: {
    pageAfterIn: function _pageAfterIn(e, page) {
      D('pageAfterIn with event e: %j, and page data: %j: ', e, page);
      Tracker.trackView(this, ScreenNames.SETTINGS_LNG);
    },
  },

};
</script>
