<template>
  <f7-page>
    <f7-navbar hide-navbar-on-scroll>
      <f7-nav-left back-link=" "/>
      <f7-nav-title>{{ $t('settings.subscribe.giveEmail.title') }}</f7-nav-title>
      <f7-nav-right style="height: 50px;width: 50px;"><img
        src="static/official-tabliz-logo-round-50x50-72dpi.png"
        style="width:30px; height:30px;"></f7-nav-right>
    </f7-navbar>
    <div id="mc_embed_signup">
      <form
        id="mc-embedded-subscribe-form"
        action="https://tabliz.us12.list-manage.com/subscribe/post?u=f22d31a2b249eeca26539b8e2&amp;id=a627b3b426"
        method="post"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate>
        <div id="mc_embed_signup_scroll">
          <h2>Subscribe to our mailing list</h2>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Adresse email </label>
            <input
              id="mce-EMAIL"
              type="email"
              value=""
              name="EMAIL"
              class="required email">
          </div>
          <div
            id="mce-responses"
            class="clear">
            <div
              id="mce-error-response"
              class="response"
              style="display:none"/>
            <div
              id="mce-success-response"
              class="response"
              style="display:none"/>
          </div>
          <!--
            Real people should not fill this in and expect good things
            Do not remove this or risk form bot signups
          -->
          <div
            style="position: absolute; left: -5000px;"
            aria-hidden="true">
            <input
              type="text"
              name="b_f22d31a2b249eeca26539b8e2_a627b3b426"
              tabindex="-1"
              value="">
          </div>
          <div class="clear">
            <input
              id="mc-embedded-subscribe"
              type="submit"
              value="Subscribe"
              name="subscribe"
              class="button">
          </div>
        </div>
      </form>
    </div>
    <debug-block
      :i18n="this.$i18n"
      :f7route="$f7route"
      :store="$store"/>
  </f7-page>
</template>

<script>
import { ScreenNames, Tracker } from '../js/utils-analytics';
import { DebugQS } from '../js/utils-common';

const D = DebugQS('subscribe.vue');

export default {
  data: function _data() {
    return {
    };
  },
  mounted() {
    D('mounted()');
  },
  methods: {
  },
  on: {
    pageAfterIn: function _pageAfterIn(e, page) {
      D('pageAfterIn with event e: %j, and page data: %j: ', e, page);
      Tracker.trackView(this, ScreenNames.SUBSCRIBE);
    },
  },

};
</script>
