<!-- eslint-disable vue/max-attributes-per-line -->
<!-- eslint-disable max-len-->
<template>
  <f7-page>
    <f7-navbar :title="this.$store.getters.place.name" back-link="Back" sliding/>
    <f7-block-title v-if="this.$store.state.isLoading" style="text-align:center" key="spinner"><span style="width:42px; height:42px" class="preloader"/></f7-block-title>
    <div v-else key="menu-item">
      Heeyyy, some details herex!
    </div>
  </f7-page>
</template>

<script>
import Debug from 'debug-levels';
import util from 'util';

const d = Debug('menuItem.vue');

export default {
  // Hook code when mounted
  mounted() {
    // `this` is the APP instance
    this.$store.commit('setIsLoading', true);
    // d.debug('this.$route.path is %s', this.$route.path);
    const url = util.format('/place/%s/', this.$store.state.placeId);
    d.debug('Fires request: "%s"', url);
    this.$http.get(url).then(
      function reponseCB(r) {
        // Store obtained response
        d.debug('Received from %s the response: %o', url, r.body);
        this.$store.commit('setMenu', r.body.menu);
        // $$('.swiper-container')[0].swiper.update();
        this.$store.commit('setIsLoading', false);
      },
      function errorCB(r) {
        d.error('Received from %s error %o.', url, r.body);
        this.$store.commit('setIsLoading', false);
      },
    );
    d.debug('Mounted: this is %o', this);
  },
};
</script>
