<template>
  <!-- App -->
  <div id="app">

    <!-- Statusbar -->
    <f7-statusbar/>

    <!-- Main View -->
    <f7-view
      id="view-main"
      url="/"
      main>

      <!-- Main default page -->
      <f7-page name="page-app">

        <f7-navbar>
          <f7-nav-left>
            <f7-link
              icon-if-ios="f7:bars"
              icon-if-md="material:menu"
              href="/popup-content/"/>
              <!-- popup-open="#popup-main"/ -->
          </f7-nav-left>
          <f7-nav-title>Tabliz</f7-nav-title>
        </f7-navbar>

        <f7-block-title class="center">Please wait...</f7-block-title>
        <f7-link href="/popup-content/" >Link to '/popup-content/'...</f7-link><br>
        <f7-link href="/news/">Link to '/news/'...</f7-link><br>
        <f7-link href="/popup-about/">Link to '/popup-about/'...</f7-link><br>
        <f7-link href="/popup-abouth/">Link to '/popup-abouth/'...</f7-link><br>
        <f7-link href="/popup-aboutv/">Link to '/popup-aboutv/'...</f7-link><br>
        <f7-link href="/popup-cf/">Link to '/popup-cf/'...</f7-link><br>
        <f7-link href="/popup-cfv/">Link to '/popup-cfv/'...</f7-link><br>
      </f7-page>
    </f7-view>

    <!-- Popup -->
    <f7-popup id="popup-main">
      <f7-view>
        <f7-page>
          <f7-navbar>
            <f7-nav-left>
              <f7-link
                icon-if-ios="f7:close"
                icon-if-md="material:close"
                popup-close/>
            </f7-nav-left>
            <f7-nav-title>About</f7-nav-title>
          </f7-navbar>
          <f7-block>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Neque, architecto. Cupiditate laudantium rem nesciunt numquam, ipsam.
            Voluptates omnis, a inventore atque ratione aliquam.
            Omnis iusto nemo quos ullam obcaecati, quod.
          </f7-block>
        </f7-page>
      </f7-view>
    </f7-popup>
  </div>

</template>

<script>
import Debug from 'debug-levels';
// import UtilsUi from './js/utils-ui';
// import Api from './js/api';
// import PopupAbout from './f7pages/popup-about.vue';

const d = Debug('*** App.vue');

// Register F7 Vue components
export default {
  name: 'App',
  components: {
    // PopupAbout,
  },
  mounted() {
    d('mounted() was here');
  },
  methods: {
    onF7Init: function _onF7Init() {
      d('onF7Init() was here');
      // UtilsUi.showLoader(this, 'Searching restaurants...');
    },
  },
};
</script>
